.Pcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1400px;
    max-width: 800px;
    margin: auto; 
    padding: 20px;
    border-radius: 8px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}



h2 {
    text-align: center;
    color: #8F00FF;
    margin-right: 30px;
}

.Pcontent label {
    display: block;
    margin: 20px 0; 
    color: #ffffff;
}

.Pcontent input,
.Pcontent select,
.Pcontent textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #8F00FF;
    border-radius: 4px;
    box-sizing: border-box;
  
    color: #ffffff;
}
.Pcontent button {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Increase vertical margin */
    background-color: #8F00FF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.Pcontent button:hover {
    background-color: #7a00d9;
}

.Pcontent ul {
    list-style-type: none;
    padding: 0;
}

.Pcontent li {
    padding: 10px;
    margin: 10px 0;
   
    border: 1px solid #8F00FF;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Pcontent li div {
    display: flex;
    flex-direction: column;
}

.Pcontent li button {
    width: auto;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #8F00FF;
    color: #ffffff;
}

.Pcontent li button:hover {
    background-color: #7a00d9;
}

.Pcontent .error,
.Pcontent .message {
    text-align: center;
    margin-bottom: 20px;
}

.Pcontent .error {
    color: red;
}

.Pcontent .message {
    color: green;
}


